{% extends 'main_page/main.html' %}
{% block main_section %}
    <body>
    <div id="my_carousel" class="carousel my-carousel  slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img height="500" class="d-block w-100"
                     src="https://cdn.shopify.com/s/files/1/0956/5418/products/65333-alt1_1024x1024.png?v=1565637758">
            </div>
            <div class="carousel-item">
                <img height="500" class="d-block w-100"
                     src="https://media.decemberboys.com.ua/images/products/2016/09/cardistrycon2016_deck_2.jpg">
            </div>
            <div class="carousel-item">
                <img height="500" class="d-block w-100"
                     src="https://www.cardician.ru/UserFiles/Image/img2613_42522.jpg">
            </div>
            <div class="carousel-item">
                <img height="500" class="d-block w-100"
                     src="https://www.cardician.ru/UserFiles/Image/img2785_33664.jpg">
            </div>
            <div class="carousel-item">
                <img height="500" class="d-block w-100"
                     src="https://i.pinimg.com/originals/2b/a6/6f/2ba66ffc364d5de78dfe06793fe54732.jpg">
            </div>
        </div>
        <a class="carousel-control-prev" href="#my_carousel" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#my_carousel" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my_carousel" data-slide-to="1" class=""></li>
            <li data-target="#my_carousel" data-slide-to="2" class=""></li>
            <li data-target="#my_carousel" data-slide-to="4" class=""></li>
            <li data-target="#my_carousel" data-slide-to="5" class=""></li>
        </ol>
    </div>
    <div class="container mt-5 ">
        <div class="row">
            {% for i in bio %}
                <div class="col-lg-4">
                    <img src="{{ i.img|safe }}" alt="i.autor" class="bio_img">
                    <h2>{{ i.title }}</h2>
                    <p>{{ i.text|striptags|truncatechars:100 }}</p>
                    <a class="btn btn-secondary" href="{% url 'full_biografi' i.id %}"
                       role="button">Читать подробнее »</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="featurette-divider">
    {% for post in news %}
        {% if forloop.counter|divisibleby:"2" %}
            <div class="row featurette mt-5 alert alert-light">
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{ post.title }} </h2>
                    <p class="lead">{{ post.text| striptags|truncatechars:200 }}</p>
                </div>
                <div class="col-md-5 ">
                    <img class="d-block w-100" src="{{ post.img|safe }}">
                </div>
                <a href="{% url 'full_main_news' post.id %}" class="btn btn-secondary">Читать
                    далее</a>
            </div>
            <hr class="featurette-divider">
        {% else %}
            <div class="row featurette mt-5 alert alert-light">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">{{ post.title }} </h2>
                    <p class="lead">{{ post.text| striptags|truncatechars:200 }}</p>
                    <a href="{% url 'full_main_news' post.id %}" class="btn btn-secondary">Читать
                        далее</a>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="d-block w-100" src="{{ post.img|safe }}">
                </div>
            </div>
            <hr class="featurette-divider">
        {% endif %}
    {% endfor %}
    </body>
{% endblock main_section %}

{% include 'main_page/include/aside.html' %}

