{% extends 'main_page/main.html' %}
{% block main_section %}
    {% for post in news %}
        <div class="alert alert-light">
            <h1>{{ post.title }}</h1>
            <p>{{ post.text }}</p>
            <div class="row">
                <div>
                    {% if post.autor.profile.img %}
                        <img src="{{ post.autor.profile.img.url }}" alt="post.autor" class="user_img">
                    {% else %}
                        <img src="/imagines/1.jpg" alt="post.autor" class="user_img">
                    {% endif %}
                </div>
                <div class="mt-2">
                    <span class="text-muted">Публикация: {{ post.date| date:"d E Y  в H:i:s" }}</span>
                    <p><b>Автор:
                        <mark> {{ post.autor }} </mark>
                    </b></p>
                </div>
            </div>
            <a href="{% url 'full_news' post.id %}" class="btn btn-outline-secondary">Читать далее</a>
        </div>
    {% endfor %}
{% endblock main_section %}

{% block aside_section %}
    <div class="p-3 ">
        <h3><b>Lorem ipsum dolor.</b></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet ducimus illum impedit incidunt </p>
        <a href="" target="_blank">
            <button class="btn btn-danger"> Danger</button>
        </a>
    </div>
    <div class="p-3 mb-1">
        <img src="https://images.ua.prom.st/1768438863_w640_h640_karty-dlya-pokera.jpg" class="img-thumbnail">
    </div>
{% endblock aside_section %}