{% extends 'main_page/main.html' %}
{%  load crispy_forms_tags %}
{% block main_section %}
  <div class="form-section">
    <h2>Вы вышли из аккаунта</h2>
  <a href="{% url 'log' %}">Войти в личный кабинет</a>

  </div>
{% endblock main_section%}
{% block aside_section %}
    {% for post in aside%}
        <div class="card mb-5 ">
            <div class="card-header">
                <h5 class="card-title">{{ post.title }}</h5>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                {{ post.iframe|safe }}
            </div>
            <div class="card-body">
                <p>{{ post.text| striptags|truncatechars:80 }}</p>
                <a href="{{ post.url }}" class="btn btn-outline-secondary">Читать далее</a>
            </div>
        </div>
    {% endfor %}
{% endblock aside_section %}