{% extends 'main_page/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
    <div class="form-section">
        <h2>Вы успешно обновили пароль</h2>
        Ваш пароль заменен на новый!
    </div>
{% endblock main_section %}
{% block aside_section %}
    <div class="p-3 ">
        <h3><b>Lorem ipsum dolor.</b></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet ducimus illum impedit incidunt </p>
        <a href="" target="_blank">
            <button class="btn btn-danger"> Danger</button>
        </a>
    </div>
    <div class="p-3 mb-1">
        <img src="https://images.ua.prom.st/1768438863_w640_h640_karty-dlya-pokera.jpg" class="img-thumbnail">
    </div>
{% endblock aside_section %}